.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.main {
    margin: 15px;
}

@media only screen and (min-width: 1024px) {
    .header {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 42px;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .main {
        margin-left: 100px;
        margin-right: 100px;
    }
    
}